# Google Service Account Credentials
GOOGLE_SERVICE_ACCOUNT_EMAIL="your-service-account@project.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC...\n-----END PRIVATE KEY-----\n"

# Google Sheets and Drive Target Identifiers
GOOGLE_SPREADSHEET_ID="your_google_spreadsheet_id_here"
GOOGLE_DRIVE_ROOT_FOLDER_ID="your_google_drive_folder_id_here"

# Authentication / Security
JWT_SECRET="super-secret-jwt-key-at-least-32-characters-long"
